/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/

/* Whole Page */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: url("assets/burger-friends.jpg");
  margin: 0px;
}

/* Header */
header {
  background: #0fb9b1;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h3 {
  margin: 7px;
}

button {
  font-size: 15px;
  border-style: hidden;
  border-radius: 5px;
  /* margin: 10px; */
}

/* Main Content */
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 400px;
}

section {
  background: rgba(225, 225, 225, .9);
  padding: 10px;
  margin: 30px;
  width: 400px;
  height: 300px;
}

/* Select Dish Page */
.selection-page {
  padding: 20px;
}

h1 {
  font-size: 1.4em;
  margin: 15px;
}

.dish-selector {
  background: #0fb9b1;
  padding: 10px 50px;
  border-radius: 5px;
  margin: 10px;
}

.dish-selector:hover {
  border: 1px solid blue;
}

input {
  margin: 10px;
}

span {
  color: #ee5253;
}

/* Pot Page */
.pot-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

img {
  opacity: 0.6;
  width: 30%;
  height: 30%;
}

/* Dish Page */
.dish-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 100%;
}

p {
  text-align: center;
  margin: 5px;
}

.dish {
  font-size: 35px;
}

.clear-dish {
  color: white;
  background: #95a5a6;
  padding: 10px;
  margin: 10px;
  align-self: flex-end;
}

.hidden {
  display: none;
}
